h2{
	font-family: "NotoSans Regular";
	font-size: 14px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #ff9933;
	text-align: center;
	line-height: 35px;

}

h2{
	span{
		position: relative;
	}
	span:before{
		content:'';
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: -7px;
		left: 0px;
		background-color: #ff9933;
	}
}
.h2margin1{
	padding: 35px 0 20px 0;
}

.az-block1{
	background-color: #fff;
}
.az-block11{
	background-color: #f8f7f7;
}
.az-menu{
	li{
		font-size: 14px;
		line-height: 35px;
		display: block;
		text-align: center;
		a{
			color: #535353;
			position: relative;
		}
		a:before{
			position: absolute;
			content: '';
			bottom: -3px;
			left: 0px;
			width: 100%;
			height: 1px;
			background-color: #535353;
		}

	}
	
}

.az-title{
	font-size: 14px;
	position: relative;
	color: #052845;
	line-height: 35px;
	// margin-left: 30px;

}
.az-title:before{
	position: absolute;
	content: '';
	width: 10px;
	height: 11px;
	left: -20px;
	top: 50%;
	transform: translate(0, -50%);
	background: url(../img/az-arrow.png) no-repeat top left; 
}

.az-menu2{
	width: 100%;
	> div{

		// margin-left: 15px;
		// line-height: 30px;
		// padding: 7px 0px;
		img{
			display: none;
		}
		a{
			color: #950000;
			font-size: 14px;
			// line-height: 20px;
		}
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    h2{
    	font-size: 18px;
    }
	.az-menu2{
		width: 100%;
		>div{
			text-align: center;

			// margin-left: 15px;
			// line-height: 30px;
			// padding: 7px 0px;
			.az-imgbox{
				width: 128px;
				height: 128px;
				margin: 0 auto;
			}
			img{
				display: block;
				width: 100%;
				height: auto;
				// margin
			}
			a{
				color: #950000;
				font-size: 14px;
				text-align: center;
				display: inline-block;
				max-width: 230px;
				// line-height: 20px;
			}
		}
	}
	.az-title{
		// display: block;
		text-align: center;
	}
	.az-inner-menu2{
		text-align: center;
		border-top-left-radius: 12px 10px;
		border-top-right-radius: 12px 10px;
		border-bottom-left-radius: 12px 10px;
		border-bottom-right-radius: 12px 10px;
		background: #fff;
		margin-bottom: 55px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	h2{
		font-size: 24px;
		background-color: #f8f7f7;
	}
	.az-block11{
		background-color: #fff;

	}
	.cont_style{
		background-color: #f8f7f7;
	}
    .az-menu{
    	padding: 0 30px;
    	background-color: #f8f7f7;
		li{
			display: inline-block;
			margin-right: 120px;
			line-height: 60px;
		}
	}

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media only screen and (min-width : 1400px) {
	
}

@media only screen and (min-height : 930px) {
	
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
    //outline: 1px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
}




























/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 850px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}




@media only screen and (max-width : 516px) {
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 390px) {


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}

@media screen and (min-device-aspect-ratio: 16/9) {

}







