.no-gutter{
    padding-right:0;
    padding-left:0;
}
// *******************************
.ah-head{
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #ebebeb;
}
.ah-logobox{
    text-align: center;
}
.ah-head-table{
    display: table;
    padding-top: 0px;
    padding-left: 0px;
}
.ah-head-span{
    display: table-cell;
    font-family: "NotoSans Regular";
    color: #474747;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
    padding-right: 7px;
}
.ah-head-span1{
    display: block;
    color: #000;
    font-family: "NotoSans Regular";
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    margin-top: 7px;
}
.ah-head-list{
    display: table-cell;
    li{
        display: inline-block;
        margin-right: 5px;
    }
}
.ah-searchform-box{
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
}
.ah-searchform{
    margin-left: 0px;
    margin-top: 20px;
    input[type="text"]{
        width: 225px;
        height: 27px;
        background-color: #fff;
        border: 0.46px solid #959595;
        border-radius: 14px;
        color: #6d6d6d;
        font-family: Verdana;
        font-size: 12px;
        font-style: italic;
        line-height: 18px;
        text-align: center;
    }
    input[type="submit"]{
        width: 18px;
        height: 15px;
        background: url(../img/ah-lup.png) center center no-repeat;
        border: none;
        cursor: pointer;
    }
}
// *********************** ah-menu********************
.ah-topmenu-wrap{
    width: 615px;
    height: 45px;
    background-color: #fff;
    border: 0.26px solid #eeeeee;
    padding: 15px 30px;
    margin: 0 auto;
}
.ah-topmenu-list{
    li{
        display: inline-block;
        margin-right: 68px;
        a{
            font-family: "NotoSans Regular";
            color: #000;
            font-size: 14px;
            line-height: 18px;
        }
    }
    li:last-child{
        margin-right: 0px;
    }
}
// ********************** Footer ****************************
.ah-footer{
    background-color: #dbdaeb;
    padding: 15px 0px;
}
.ah-footer-span2{
    display: block;
    color: #000;
    font-family: "NotoSans Regular";
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 35px;
}
.ah-footer-title, .ah-footer-title1{
    display: block;
    color: #f7931e;
    font-family: "NotoSans Regular";
    font-size: 14px;
    line-height: 18px;
    text-decoration: uppercase;
    margin-bottom: 20px;
}
.ah-footer-list1, .ah-footer-list2{
    li{
        display: block;
        margin-bottom: 15px;
        a{
            color: #353535;
            font-family: "NotoSans Regular";
            font-size: 14px;
            line-height: 18px;
            text-decoration: uppercase;
        }
    }
}
.ah-fotsearchform{
    input[type="text"]{
        // width: 136px;
        // height: 26px;
        background-color: #fff;
        border: none;
        color: #909090;
        font-family: Verdana;
        font-size: 14px;
        font-style: italic;
        line-height: 18px;
        text-align: center;
    }
    input[type="submit"]{
        // width: 19px;
        // height: 15px;
        background: url(../img/ah-lupfot.png) center center no-repeat;
        border: none;
        cursor: pointer;
    }
}
.ah-footer-span3{
    display: block;
    font-family: "NotoSans Regular";
    color: #000;
    font-size: 12px;
    line-height: 18px;
    margin-top: 52px;
    margin-left: 27px;
    margin-bottom: 16px;
}
.ah-footer-list3{
    display: block;
    li{
        display: inline-block;
        margin-right: 20px;
    }
}
.ah-footer-span, .ah-footer-span1{
    display: block;
    font-family: "NotoSans Regular";
    color: #717171;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}
.ah-footer-span{
    margin-top: 30px;
}
.ah-footer-span1{
    margin-top: 20px;
}





/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .ah-footer-title, .ah-footer-title1{
        display: none;
    }
    .ah-footer-list2{
        text-align: right;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.ah-footer-title, .ah-footer-title1{
        display: none;
    }
    .ah-footer-list2{
        text-align: right;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.ah-footer-title, .ah-footer-title1{
        display: block;
    }
    .ah-footer-list2{
        text-align: left;
    }
    .ah-footer-list3{
        display: block;
        li{
            display: inline-block;
            margin-right: 15px;
        }
    }
    .ah-fotsearchform{
        input[type="text"]{
            width: 130px;
            height: 26px;
        }
        input[type="submit"]{
            width: 19px;
            height: 15px;
        }
    }
    .ah-head-table{
        display: block;
        margin-top: 15px;
        padding-top: 0px !important;
    }
    .ah-head-span1{
        margin-top: 20px;
    }
    .ah-searchform-box{
        margin-top: -6px;
    }
    .ah-searchform{
        input[type="text"]{
            width: 122px;
            height: 27px;
        }
        input[type="submit"]{
            width: 18px;
            height: 15px;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .ah-footer-title, .ah-footer-title1{
        display: block;
    }
    .ah-footer-list2{
        text-align: left;
    }
    .ah-fotsearchform{
        input[type="text"]{
            width: 136px;
            height: 26px;
        }
        input[type="submit"]{
            width: 19px;
            height: 15px;
        }
    }
    .ah-head{
        padding-bottom: 3px;
    }
    .ah-head-table{
        padding-top: 20px;
        padding-left: 65px;
    }
    .ah-searchform-box{
        text-align: center;
        margin-top: 16px;
        margin-left: 68px;
    }
    .ah-searchform{
        margin-left: 5px;
        margin-top: 17px;
        input[type="text"]{
            width: 122px;
            height: 27px;
        }
        input[type="submit"]{
            width: 18px;
            height: 15px;
        }
    }
}
 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}
/***************/
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
	// outline: 1px solid red;
    //outline: none !important;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
    // outline: 1px solid red;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;
    // outline: 1px solid red;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
    // outline: 1px solid red;
}