$red: #c60006;
@import "reset.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";

strong{
	
}
.center{
	text-align: center;
	margin: 0 auto;
}

.sidebar{
    background: #EAE9E9;
    text-align: right;

    .ab-first > li > a {
        color:#F7931E;
        font-size: 14px;
        font-family: "NotoSans Regular";
        text-transform: uppercase;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 15px;
        display: inline-block;
        //outline: 1px solid red;
    }
    .ab-second > li > a{
        color:#696969;
        font-size: 14px;
        font-family: "NotoSans Regular";
        text-transform: uppercase;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 15px;
        display: inline-block;
        //outline: 1px solid blue;
    }
    .ab-threed > li > a{
        color:#939393;
        font-size: 12px;
        padding-top: 15px;
        padding-bottom: 5px;
        padding-right: 10px;
        display: inline-block;
        //outline: 1px solid green;
    }
    
}

.ab-main{
    .ab-txt-wrap{
        text-align: center;
        margin-bottom: 20px;
    }
    .ab-txt1{
        display: inline-block;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px; 
    }
    .ab-span{
        font-size: 14px;
        font-family: "NotoSans Regular";
        text-transform: uppercase;
        border-bottom: 1px solid #696969;
    }
    .ab-img-box{
        img{
            margin: 0 auto;
        }
    }
    .view{
      background: url(../img/eye.png) no-repeat left center;
      padding-left: 30px;

    }
    .comment-count{
      background: url(../img/comments.png) no-repeat left center;
      padding-left: 30px;
      margin-left: 40px;
    }
}

.ab-popular{
    max-width: 300px;
    height: 50px;
    background: #312F66;
    border-right: 15px solid #F7931E;
    padding-top: 12px;
    padding-left: 16px;
    margin: 80px 0 62px; 
    span{
        font-size: 14px;
        font-style: italic;
        text-transform: uppercase;
        color:#fff;
        font-weight: bold;
    }
}

.ab-txt-2{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;  
    span{
        font-size: 16px;
        font-family: "NotoSans Regular";
    }
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.ab-main{

         .ab-img-box{
            float: left;
            padding-right: 20px;
        }
        .ab-txt-wrap{
            text-align: left !important;
            padding-top: 40px;
        }
        .ab-txt{
        padding-top: 60px;
        }

    }
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    
    
}
 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}



/***************/
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
    //outline: 15px solid blue;
    //outline: none !important;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
}


